*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 50px;
}

h1 {
    font-size: 40px;
    margin-bottom: 25px;
}

h2 {
    margin-bottom: 25px;
    text-align: center;
}

p {
    margin-bottom: 10px;
}
.first {
color: red;
}

#your-name {
    background-color:burlywood;
    border:3px solid #444;
    width: 400px;
    padding: 25px;
    margin-top: 30px;
}
input,button{
    padding: 10px;
    font-size: 16px;
}
a{
    background-color: rgb(31, 202, 31);
}

#Grumpy-cat {
    width: 300px;
}

#your-name h2{
    color: rgb(61, 83, 18);
}

